{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load markdown_extras %}
{% block title %}
	Contact
{% endblock title %}
{% block content %}
<div class="container">
	<div>
        <h1 class="pb-2 border-bottom">{% translate "Contact Informations" %}</h1>
		<div class="fs-5 text-body-secondary">{{ msg.message | markdown | safe }}</div>
    </div>
	<div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
		{% for link in links %}

		<div class="col">
			<div class="card m-3 rounded-3 shadow-sm {% if link.emphasis %}border-primary{% endif %}">
				<div class="card-header {% if link.emphasis %}border-primary{% endif %}">
					<h4 class="my-0 fw-normal">{{ link.title }}</h4>
				</div>
				<div class="card-body">
					{{ link.comment | markdown | safe }}
				</div>
				{% comment %}
					add an on click "reveal of the usernames"
				{% endcomment %}
				<a href="{{link.direct_link}}">
					<button class="mb-3 w-75 btn btn-lg btn-primary">
						{{ link.username }}
					</button>
				</a>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
{% block easteregg %}
Well, eeeeeeeeeeeeeeexcuse me princess !
{% endblock easteregg %}