{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load markdown_extras %}
{% block title %}
	FAQs
{% endblock title %}
{% block content %}
<div class="container">
	<div>
        <h1 class="pb-2 border-bottom">{% translate "Frequently Asked Questions" %}</h1>
    </div>
	<div class="m-5" id="accordion">
		{% for question in questions %}
		<div class="card my-2 mx-5">
			<div class="">
				{% get_current_language as LANGUAGE_CODE %}
				<button class="btn btn-outline-secondary w-100" type="button" data-bs-toggle="collapse" data-bs-target="#{{question.pk}}">
					<span class="h3">{% if LANGUAGE_CODE == "en-us" %}
						{{ question.questionEN }}
					{% elif LANGUAGE_CODE == "fr" %}
						{{ question.questionFR }}
					{% endif %}</span><i class="bi bi-caret-down-fill float-end"></i>
				</button>
			</div>

			<div class="collapse mx-3 h5 card-body" id="{{question.pk}}" data-parent="#accordion" style="--bs-card-spacer-y: 0rem;">
				<p class="">{% if LANGUAGE_CODE == "en-us" %}
					{{ question.answerEN | markdown | safe }}
				{% elif LANGUAGE_CODE == "fr" %}
					{{ question.answerFR | markdown | safe }}
				{% endif %}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}

{% block easteregg %}
{% translate "The [MISSING AUTHORIZATION] Incident took place in [REDACTED] on the 8 [DATA EXPUNGED]. Casualties were estimated to a total of [BIG NUMBER] dead." %}
{% endblock easteregg %}