{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    {% translate "Friends" %}
{% endblock title %}
{% block content %}
<div class="mx-5">
    <div>
        <h1 class="pb-2 border-bottom">{% translate "Cool persons all around !" %}</h1>
    </div>
	<div class="row g-4 p-5 row-cols-1 row-cols-lg-4">
        {% for friend in friends %}
            <div class="feature-col">
                <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-3">
                    <a class="" href="{{ friend.link }}">
                        <img src="{{friend.picture.url}}" class="img-thumbnail rounded-circle hover-zoom" style="height: 4em; width: 4em;">
                    </a>
                </div>

                <h3 class="fs-2 text-body-emphasis">{{friend.name}}</h3>
                <p class="">{{friend.short_descriptionEN}}</p>

            </div>
        {% endfor %}
	</div>
</div>
{% endblock content %}
{% block easteregg %}
    {% translate "All of your friends are belong to us !!!" %}
{% endblock easteregg %}