{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% translate "Home" %}
{% endblock title %}
{% block navigation %}
{% endblock navigation %}
{% block content %}
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column text-center">
    <main class="px-3">
        <h1 class="sci-bi">{% translate "A journey"%}<br> {% translate "in creation" %}</h1>
        <h2 class="sci-bi">{% translate "a website by Camille Gouneau" %}</h2>
    </main>
</div>
{% endblock content %}