{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load markdown_extras %}
{% block title %}
	{% translate "Who am I" %}
{% endblock title %}
{% block content %}
<div class="container">
	<div class="m-5 row justify-content-center w-100">
		{% if picture %}
		<div class="col">
        	<img src="{{picture.url}}" class="img-thumbnail img-fluid rounded-circle">
		</div>
    	{% endif %}
		<div class="col">
			{{ text | markdown | safe }}
		</div>
	</div>
</div>
{% endblock content %}
{% block easteregg %}
	{% translate "Did you know ? My favorite pokemon isn't Bidoof but Oshawott !" %}
{% endblock easteregg %}