{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% translate "Rock Paper Scissors Gun Dynamite Nuke - Dev" %}
{% endblock title %}
{% block content %}
<div class="cover-container d-flex p-3 mx-auto flex-column text-center justify-content-center">
    <main class="px-3">
        <h1 class="display-1">{% translate "Rock Paper Scissors Gun Dynamite Nuke"%}</h1>
        <div class="d-flex justify-content-center">
            <div class="pt-4 border-top w-15">
                <div class="btn-group" role="group">
                    <a href="https://github.com/BlessedSleepSeeker/Rock-Paper-Scissors-Gun-Dynamite-Nuke" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Github' %}" class="btn btn-outline-info"><i class="bi bi-github"></i></a>
                    <a href="https://eindall.itch.io/rpsgdn" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Itch.io' %}" class="btn btn-outline-info"><i class="bi bi-box-arrow-up-right"></i></a>
                    {% if project.release %}<a href="{{ project.release.url }}" download="Rock-Paper-Scissors-Gun-Dynamite-Nuke.zip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Release' %}" class="btn btn-outline-info"><i class="bi bi-download"></i></a>{% endif %}
                    {% if project.source %}<a href="{{ project.source.url }}" download="QuestGiverSource.zip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Source' %}" class="btn btn-outline-info"><i class="bi bi-file-earmark-binary"></i></a>{% endif %}
                </div>
            </div>
        </div>
    </main>
</div>
<div class="container py-3">
    <p class="text-justify display-5 text-muted text-center">
        {% translate "Our GMTK 2024 Submission, for the theme 'Built To Scale'" %}
    </p>
    <p class="text-justify text-muted text-center">
        {% translate "What if Rock Paper Scissors had 22 more options ?" %}
    </p>
</div>


<div class="container px-4 py-5">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col d-flex align-items-start">
            <div class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-controller text-info"></i>
            </div>
            <div>
                <h3 class="text-body-emphasis fs-2">
                    {% translate "Please Test it !" %}
                </h3>
                <p class="text-muted">
                    {% translate "Head to" %} <a href="https://eindall.itch.io/rpsgdn">Itch.io</a> {% translate "and download the game ! It's the final gamejam version, so it's the first 3 days of developement only." %}
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-heart text-info"></i>
            </div>
            <div>
                <h3 class="text-muted text-body-emphasis fs-2">
                    {% translate "Made with the power of Friendship" %}
                </h3>
                <p class="text-muted">
                    {% translate "With my friends Satantamere and Eindall, we built this amazing game in 48 hours for GMTK Jam 2024. This was only possible thanks to the power of friendship and a pure dedication to making this piece of art." %}
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-robot text-info"></i>
            </div>
            <div>
                <h3 class="text-body-emphasis fs-2">
                    {% translate "Still Built with Godot 4" %}
                </h3>
                <p class="text-muted">
                    <a href="https://godotengine.org/">Godot</a>{% translate " is a free, open-source, no-string attached game engine. It has been my goto engine since 2020 and is well deserving of some support. The 4.0 being released in March 2023, I decided to learn it with this project." %}
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-node-plus text-info"></i>
            </div>
            <div>
                <h3 class="text-muted text-body-emphasis fs-2">
                    {% translate "Still Open and Free" %}
                </h3>
                <p class="text-muted">
                    {% translate "The Project is under the " %}<a href="https://github.com/BlessedSleepSeeker/Rock-Paper-Scissors-Gun-Dynamite-Nuke/blob/main/LICENSE">GPL-3</a>{% translate " license." %}
                    {% translate "You can find the sources " %}<a href="https://github.com/BlessedSleepSeeker/Rock-Paper-Scissors-Gun-Dynamite-Nuke">{% translate "here " %}</a>.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}