{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% translate "WakfuTCG Card Maker - Dev" %}
{% endblock title %}
{% block content %}
<div class="cover-container d-flex p-3 mx-auto flex-column text-center justify-content-center">
    <main class="px-3">
        <h1 class="display-1">{% translate "WakfuTCG Card Maker"%}</h1>
        <div class="d-flex justify-content-center">
            <div class="pt-4 border-top w-15">
                <div class="btn-group" role="group">
                    {% if project.release %}<a href="{{ project.release.url }}" download="WakfuTCG_CardMakerHub.zip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Release' %}" class="btn btn-outline-info"><i class="bi bi-download"></i></a>{% endif %}
                    {% if project.source %}<a href="{{ project.source.url }}" download="WakfuTCG_CardMakerSource.zip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Source' %}" class="btn btn-outline-info"><i class="bi bi-file-earmark-binary"></i></a>{% endif %}
                </div>
            </div>
        </div>
    </main>
</div>

<div class="container py-3">
    <p class="text-justify display-5 text-muted text-center">
        {% translate "A card creation tool for Wakfu TCG" %}
    </p>
    <p class="text-justify text-muted text-center">
        <img src="{{ project.miniature.url }}" class="img-fluid card-img-top">
        {% translate "Blessed be the one who seek." %}
    </p>
</div>

<div class="container px-4 py-5">
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-2">
        <div class="col d-flex align-items-start">
            <div class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-person-badge text-info"></i>
            </div>
            <div>
                <h3 class="text-body-emphasis fs-2">
                    {% translate "Create the card of your dream" %}
                </h3>
                <p class="text-muted">
                    {% translate "Doing fan card is the dream of every single TCG player. Now, you can even do it on a game that was dead long before I even started the project ! Woohoo !" %}
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-hammer text-info"></i>
            </div>
            <div>
                <h3 class="text-muted text-body-emphasis fs-2">
                    {% translate "My First Project" %}
                </h3>
                <p class="text-muted">
                    {% translate ":)" %}
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-braces text-info"></i>
            </div>
            <div>
                <h3 class="text-body-emphasis fs-2">
                    {% translate "Built with Unity" %}
                </h3>
                <p class="text-muted">
                    <a href="https://unity.com">Unity</a>{% translate " is one of the game-engine of all time." %}
                </p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="text-body-emphasis d-inline-flex align-items-center justify-content-center fs-4 flex-shrink-0 me-3">
                <i class="bi bi-node-plus text-info"></i>
            </div>
            <div>
                <h3 class="text-muted text-body-emphasis fs-2">
                    {% translate "Not Open but Free" %}
                </h3>
                <p class="text-muted">
                    {% translate "I'm sorry, I lost the sources. I am not kiding, this project is almost 7 years old now." %}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}