{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	{{ album.name }} Galery - Art
{% endblock title %}
{% block content %}
<div class="d-flex justify-content-center mb-5">
	{% get_current_language as LANGUAGE_CODE %}
	<h1 class="text-center display-1 mx-auto">{% if LANGUAGE_CODE == "en-us" %}{{ album.name }}{% elif LANGUAGE_CODE == "fr" %}{{ album.nameFR }}{% endif %}</h1>
</div>
<div class="container">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
		{% for piece in page_obj %}
			<div class="col">
				<a class="nav-link" href="{% url 'art:piece' album.url piece.url %}">
					<div class="card shadow-sm hover-zoom-card" style="">
						<img src="{{ piece.file.url }}" class="img-fluid card-img-top {{ piece.scaling_method }}">
						<div class="card-body">
							{% if piece.was_published_recently %}<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{% translate "!?" %}</span>{% endif %}
							{% get_current_language as LANGUAGE_CODE %}
        					<h4 class="text-center">{% if LANGUAGE_CODE == "en-us" %}{{ piece.name }}{% elif LANGUAGE_CODE == "fr" %}{{ piece.nameFR }}{% endif %}</h4>
						</div>
					</div>
				</a>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock content %}
{% block easteregg %}
My favorite album is actually Discovery from Daft Punk.
{% endblock easteregg %}