{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	Art
{% endblock title %}
{% block opengraph_type %}article{% endblock opengraph_type %}
{% block opengraph_title %}{{ piece.name }} - Blessed Sleep Seeker{% endblock opengraph_title %}
{% block opengraph_description %}An art piece by {{piece.authors}}{% endblock opengraph_description %}
{% block opengraph_image %}{{ piece.file.url }}{% endblock opengraph_image %}
{% block opengraph_bonus %}
<meta property="og:image:width" content="{{ piece.file.width }}">
<meta property="og:image:height" content="{{ piece.file.height }}">
{% endblock opengraph_bonus %}

{% block content %}
<div>
	<div class="pb-5 d-flex">
        <a class="btn btn-outline-secondary mx-5" href="{% url 'art:art_galery' %}"><i id="" class="bi bi-arrow-left-short" style=""></i>{% translate "Back to the galery" %}</a>
    </div>
    <div class="">
        <h1 class="text-center display-1">{% translate "Latest Artworks" %}</h1>
        <div class="album py-5">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for piece in pieces %}
                        <div class="col">
                            <a class="nav-link" href="{% url 'art:piece' piece.album.url piece.url %}">
                            <div class="card shadow-sm hover-zoom-card" style="">
                                {% if piece.was_published_recently %}<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">{% translate "!?" %}</span>{% endif %}
                                <img src="{{ piece.file.url }}" class="img-fluid card-img-top {{ piece.scaling_method }}">
                                <div class="card-body">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    <h4 class="text-center">{% if LANGUAGE_CODE == "en-us" %}{{ piece.name }}{% elif LANGUAGE_CODE == "fr" %}{{ piece.nameFR }}{% endif %}
                                </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block easteregg %}
    <a href="https://www.youtube.com/@BJGpixel" class="nav-link"> Hello There ! My name's Camille and I make picture out of tiny squares !</a>
{% endblock easteregg %}