@font-face {
    font-family: "Sci-Bi";
    src: url("../../static/base/fonts/sci-bi.ttf") format("truetype");
}

@font-face {
    font-family: "Sci-Bi Glitched";
    src: url("../../static/base/fonts/sci-bi-glitched.ttf") format("truetype");
}

@font-face {
    font-family: "Bitsumishi";
    src: url("../../static/base/fonts/BITSUMIS.TTF") format("truetype");
}

.sci-bi {
    font-family: "Sci-Bi";
}

.sci-bi-glitched {
    font-family: "Sci-Bi Glitched";
}

.bitsumishi {
    font-family: "Bitsumishi";
}

.homepage-title {
    font-size: 8em;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.hover-zoom {
    transition: transform 0.2s ease;
}

.hover-zoom:hover {
    transform: scale(1.1);
}

.hover-zoom-card {
    transition: transform 0.3s ease;
}

.hover-zoom-card:hover {
    transform: scale(1.05);
}

.w-15 {
    width: 15% !important;
}