{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% translate "Boombox - Dev" %}
{% endblock title %}
{% block content %}
<div class="cover-container d-flex p-3 mx-auto flex-column text-center justify-content-center">
    <main class="px-3">
        <h1 class="display-1">{% translate "The Boombox"%}</h1>
        <div class="d-flex justify-content-center">
            <div class="pt-4 border-top w-15">
                <div class="btn-group" role="group">
                    <a href="https://github.com/Camille-Gouneau/QuestGiver" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Github' %}" class="btn btn-outline-info"><i class="bi bi-github"></i></a>
                    <a href="https://bidoofgekkouga.itch.io/questgiver" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Itch.io' %}" class="btn btn-outline-info"><i class="bi bi-box-arrow-up-right"></i>
                    {% if project.release %}<a href="{{ project.release.url }}" download="AsecriptHub.zip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Release' %}" class="btn btn-outline-info"><i class="bi bi-download"></i></a>{% endif %}
                    {% if project.source %}<a href="{{ project.source.url }}" download="AsecriptSource.zip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Source' %}" class="btn btn-outline-info"><i class="bi bi-file-earmark-binary"></i></a>{% endif %}
                </div>
            </div>
        </div>
    </main>
</div>
<div class="container py-3">
    <p class="text-justify display-5 text-muted text-center">
        {% translate "My GMTK 2023 Submission, now expanded." %}
    </p>
</div>
{% endblock content %}