{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
	Art
{% endblock title %}
{% block content %}
<div>
	<h1 class="text-center display-1">{% translate "The Art Galery" %}</h1>
	<div class="d-flex justify-content-center pt-3">
		<div class="btn-group" role="group">
			<a href="{% url 'art:latest' %}" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Latest Pieces"><i class="bi bi-patch-exclamation-fill"></i></a>
			<a href="{% url 'art:random' %}" class="btn btn-outline-info" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Random"><i class="bi bi-shuffle"></i></a>
		</div>
	</div>
	<div class="album py-5">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for album, vignette in content %}
					<div class="col">
						<a class="nav-link" href="{% url 'art:album' album.url %}">
						<div class="card shadow-sm hover-zoom-card">
							<img src="{{ vignette.file.url }}" class="img-fluid card-img-top {{ vignette.scaling_method }} ">
							<div class="card-body">
								<p class="card-text">{{ album.name }} {% if album.was_published_recently %}<span class="badge">{% translate "New !" %}</span>{% endif %}</p>
								<p class="card-text text-muted">{{ album.description }}</p>
							</div>
						</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block easteregg %}
    <a href="https://www.youtube.com/@BJGpixel" class="nav-link"> Hello There ! My name's Camille and I make picture out of tiny squares !</a>
{% endblock easteregg %}