{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% translate "MeleeCraft - Dev" %}
{% endblock title %}
{% block content %}
<div class="cover-container d-flex p-3 mx-auto flex-column text-center justify-content-center">
    <main class="px-3">
        <h1 class="display-1">{% translate "MeleeCraft"%}</h1>
        <div class="d-flex justify-content-center">
            <div class="pt-4 border-top w-15">
                <div class="btn-group" role="group">
                    <a href="https://github.com/Camille-Gouneau/MeleeCraft" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Github' %}" class="btn btn-outline-info"><i class="bi bi-github"></i></a>
                    {% if project.release %}<a href="{{ project.release.url }}" download="AsecriptHub.zip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Release' %}" class="btn btn-outline-info"><i class="bi bi-download"></i></a>{% endif %}
                    {% if project.source %}<a href="{{ project.source.url }}" download="AsecriptSource.zip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Source' %}" class="btn btn-outline-info"><i class="bi bi-file-earmark-binary"></i></a>{% endif %}
                </div>
            </div>
        </div>
    </main>
</div>
<div class="container pb-3">
    <p class="text-justify display-5 text-muted text-center">
        {% translate "What if you could shine, but in MINECRAFT ????" %}
    </p>
</div>
<div class="container pb-3">
    <p class="text-justify text-muted text-center fs-5">
        {% translate "Yep. That's it. That's the project. Done using the Fabric Mod Loader and Java." %}
    </p>
    <p class="text-justify text-muted text-center fs-5">
        {% translate "Falco's shine will pop entity up, while Fox's will knockback them away from you." %}
    </p>
    <p class="text-justify text-muted text-center fs-5">
        {% translate "Hopefuly I've added some GIF underneath to show you how it work." %}
    </p>
</div>

{% endblock content %}