{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% translate "Ryuforcement - Dev" %}
{% endblock title %}
{% block content %}
<div class="cover-container d-flex p-3 mx-auto flex-column text-center justify-content-center">
    <main class="px-3">
        <h1 class="display-1">{% translate "Ryuforcement"%}</h1>
        <div class="d-flex justify-content-center">
            <div class="pt-4 border-top w-15">
                <div class="btn-group" role="group">
                    <a href="https://github.com/Camille-Gouneau/Ryuforcement" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Github' %}" class="btn btn-outline-info"><i class="bi bi-github"></i></a>
                    {% if project.release %}<a href="{{ project.release.url }}" download="Ryuforcement.zip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Release' %}" class="btn btn-outline-info"><i class="bi bi-download"></i></a>{% endif %}
                    {% if project.source %}<a href="{{ project.source.url }}" download="RyuforcementSource.zip" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{% translate 'Source' %}" class="btn btn-outline-info"><i class="bi bi-file-earmark-binary"></i></a>{% endif %}
                </div>
            </div>
        </div>
    </main>
</div>

<div class="container pb-3">
    <p class="text-justify display-5 text-muted text-center">
        {% translate "Ever wondered if AI could beat humans at street fighter ? We did." %}
    </p>
</div>
<div class="container pb-3">
    <p class="text-justify text-muted text-center fs-5">
        {% translate "Using OpenAI Gym Retro, Reinforcement Learning and a Convolution Network, we created Ryuforcement, an AI playing Street Fighter : Special Champion Edition on Genesis." %}
    </p>
    <p class="text-justify text-muted text-center fs-5">
        {% translate "In the end, Ryuforcement started to block some attacks reliably ! We unfortunately had to end the project early due to Gym Retro not being a great environnement for fighting game AI training." %}
    </p>
    <p class="text-justify text-muted text-center fs-5">
        {% translate "Our readme on Github has a lot of info and goes in depth, be sure to check it out." %}
    </p>
    <p class="text-justify text-muted text-center fs-5">
        {% translate "I did this project with Pierre-Eloy Sylvestre, a trully wonderful person " %} <i class="bi bi-heart"></i>
    </p>
</div>


{% endblock content %}