{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html class="h-100" data-bs-theme="dark">
  <head>
    <title>{% block title %}{% endblock %} - Camille Gouneau</title>
	  <link rel="shortcut icon" type="image/png" href="{% static 'base/8x8w400.png' %}"/>

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Bootstrap CSS & config -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- My Own CSS -->
    <link href="{% static 'base.css' %}" rel="stylesheet" type="text/css">
  </head>
  <body class="d-flex flex-column h-100">
  {% block navigation %}
  <header>
	<nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'main:index' %}" class="">
          <img id="navLogoLight" src={% static 'base/8x8b800.png' %}>
          <img id="navLogoDark" src={% static 'base/8x8w800.png' %}>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a class="nav-link" href="{% url 'blog:blog_main' %}">{% translate "Blog" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'art:art_galery' %}">{% translate "Art" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'dev:dev_main' %}">{% translate "Code" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'diy:diy_main' %}">{% translate "DIY" %}</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'special:special_main' %}">{% translate "Others" %}</a></li>
          </ul>
          <button type="button" id="btnSwitch" class="btn"><i id="iconSwitch" class="bi bi-moon-stars-fill" style=""></i></button>

        </div>
      </div>
    </nav>
		</div>
	</nav>
  </header>
  {% endblock navigation %}

  <div class="my-5">
    {% block content %}
    {% endblock content %}
  </div>


    {% block footer %}
	  <footer class="footer mt-auto">
      <div class="mb-4">
        <nav class="d-flex justify-content-center">
          <div class="">

          </div>
          <ul class="nav justify-content-center border-top py-3 w-50">
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="{% url 'main:index' %}">{% translate "Home" %}</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="{% url 'main:whoami' %}">{% translate "About me" %}</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="{% url 'main:faq' %}">{% translate "FAQ" %}</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="{% url 'main:friends' %}">{% translate "Friends" %}</a></li>
            <li class="nav-item"><a class="nav-link px-2 text-muted" href="{% url 'main:contact' %}">{% translate "Contact" %}</a></li>
          </ul>
        </nav>

        <div class="d-flex justify-content-center">
          <p class="text-center text-muted border-top pt-3 w-25 ">{% block easteregg %}{% translate "This is where I would put my easter eggs, if I had some." %}{% endblock easteregg %}</p>
        </div>

      </div>
    </footer>
    {% endblock footer %}
    {% block scripts %}
      <script src="{% static 'theme_switcher.js' %}"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    {% endblock scripts %}
  </body>
</html>