{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% load markdown_extras %}
{% block title %}
{{ article.title }} - Blog
{% endblock title %}
{% block content %}
<div class="d-flex align-content-center">
    <div class="pb-5">
        <a class="btn btn-outline-secondary mx-5" href="javascript:history.back()"><i class="bi bi-arrow-left"></i>{% translate " Return" %}</a>
    </div>
    <div class="container">
        <div>
            <h1 class="pb-2 border-bottom display-2">{{ article.title }}</h1>
            <div class="my-3">
                <div class="text-muted d-inline-flex" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{article.visible_starting|date:'d/m/Y - H:i e'}}">
                    {% translate "Unveiled" %} {{article.visible_starting|naturaltime}}
                </div>
                <div class="text-muted">
                    {% translate "Topics"%} :
                    {% for tag in article.tags_formated %}
                        <div class="badge rounded-pill bg-secondary mx-1 d-flex-inline align-content-center ">
                            <a class="link-light text-decoration-none" href={% url 'blog:tags' tag %}>{{tag}}</a>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="mx-5">
                {{ article.body | markdown | safe }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}